.wrap {
  aspect-ratio: 1 / 1.414;
  width: 100%;
  border: solid 1px #ddd;
}

.nouhinText {
  writing-mode: vertical-rl;
  font-size: 9rem;
  font-family: 'YujiSyuku-Regular';
}

.text {
  writing-mode: vertical-rl;
  font-size: 8rem;
  font-family: 'YujiSyuku-Regular';
}

.smallText {
  font-size: 5rem;
}

.mincho {
  font-family: 'Yu Mincho', 'YuMincho';
  font-weight: bold;
}
